a:link {
    color: #323330;
}

a:visited {
    color: #323330;
}

blockquote {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    background-color: #ffe449;
}

.about {
    color: #323330;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.contact {
    color: #323330;
    width: 300px;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.cv {
    color: #323330;
    width: 600px;
    padding: 10px;
}

.cvHead {
    color: #323330;
    width: 90%;
    text-align: left;
    padding: 5px;
    font-family: 'Catamaran', sans-serf;
    font-weight: bold;
    font-size: 20px;
}

.cvBod {
    color: #323330;
    width: 92%;
    text-align: justify;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    float: right
}

.flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-content: evenly;
    align-items: center;
}

.header {
    color: #323330;
    justify-content: center;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    padding: 2px;
}

.image {
    max-width: 100%;
    padding: 10px;
}

.links {
    font-family: 'Roboto Mono', monospace;
}

img {
    max-width: 100%;
    height: auto;
}

.nav-li {
    float: left;
}

.nav-li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #323330;
    font-family: 'Roboto', sans-serif;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}